name: Docker Build and Push

on:
  workflow_call:
    inputs:
      project_path:
        required: true
        type: string
      dockerfile_path:
        required: true
        type: string
      image_name:
        required: true
        type: string

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker registry
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: ${{ secrets.DOCKER_REGISTRY_ENDPOINT }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: ${{ inputs.project_path }}
        file: ${{ inputs.dockerfile_path }}
        push: true
        tags: ${{ secrets.DOCKER_REGISTRY_ENDPOINT }}/${{ inputs.image_name }}:latest