name: price-fetcher - build

on:
  push:
    branches:
      - main
    paths:
      - 'price-fetcher/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker registry
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        registry: ${{ secrets.DOCKER_REGISTRY_ENDPOINT }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: ./price-fetcher
        file: ./price-fetcher/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_REGISTRY_ENDPOINT }}/price-fetcher:latest
